<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>

    <div class="form-container">
        <h2>ChatGPT</h2>
        <h4>Signup Form</h4>
        <form action="" method='POST'>
            {% csrf_token %}
            {% for field in form %}
            <div class="input">
                {{field}}
                {% if field.errors %}
                <small style="color:red">{{field.errors}}</small>
                {% endif %}
            </div>

            {% endfor %}
            
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Create account</button>
              </div>
              <p>Have an account? <span><a href="{% url 'signin' %}">Login</a></span></p>
        </form>
    </div>
    
</body>
</html>